<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Lista de Jogadores</title>
</head>
<body>
   <h1>Lista de Jogadores</h1>
   <table border="1">
      <tr>
         <th>ID</th>
         <th>Nome</th>
         <th>Classe</th>
         <th>Vida</th>
      </tr>
      {% for jogador in jogadores %}
      <tr>
         <td>{{ jogador.id }}</td>
         <td>{{ jogador.nome }}</td>
         <td>{{ jogador.classe }}</td>
         <td>{{ jogador.vida }}</td>
      </tr>
      {% endfor %}
   </table>
   <a href="{{ url_for('Jogadores.cadastrar_jogador') }}">Cadastrar Novo Jogador</a>
</body>
</html>
